# Bytecode files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv_prog/
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Mac/Linux system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# pytest cache
.pytest_cache/
.cache/

ruff cache
.ruff_cache

# Build and distribution
build/
dist/
*.egg-info/

# dotenv / secrets
.env

# My personal notes
NOTES.md